datasets
__pycache__/
*.pyc
*.png
*.jpg
jojun/himeow-eye/models/encoder/finetuning/yolo/basic_models
jojun/himeow-eye/models/encoder/finetuning/yolo/custom_models


#zoo0o
data/dataset/*
data/dataset_yolo/*
