datasets
__pycache__/
*.pyc
*.png
*.jpg
models/encoder/finetuning/yolo/basic_models
models/encoder/finetuning/yolo/custom_models


#zoo0o
data/datasets/*
data/datasets_yolo/*
models/yolo/base/runs/*
models/vit/base/runs/*
yolo11n.pt
yolov8n-cls.pt
yolov8x-cls.pt
test.py
